html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }

.out { margin: 0 auto; min-width: 320px; }

.inner { max-width: 1600px; padding: 0 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: 0 auto; position: relative; }

@font-face { font-family: "HelveticaNeue Bold"; src: url("fonts/helveticaneuecyr-bold.eot"); src: url("fonts/helveticaneuecyr-bold.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-bold.woff2") format("woff2"), url("fonts/helveticaneuecyr-bold.woff") format("woff"), url("fonts/helveticaneuecyr-bold.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeue Medium"; src: url("fonts/helveticaneuecyr-medium.eot"); src: url("fonts/helveticaneuecyr-medium.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-medium.woff2") format("woff2"), url("fonts/helveticaneuecyr-medium.woff") format("woff"), url("fonts/helveticaneuecyr-medium.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeue Roman"; src: url("fonts/helveticaneuecyr-roman.eot"); src: url("fonts/helveticaneuecyr-roman.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-roman.woff2") format("woff2"), url("fonts/helveticaneuecyr-roman.woff") format("woff"), url("fonts/helveticaneuecyr-roman.ttf") format("truetype"); font-weight: normal; font-style: normal; }
@font-face { font-family: "HelveticaNeue Light"; src: url("fonts/helveticaneuecyr-light.eot"); src: url("fonts/helveticaneuecyr-light.eot?#iefix") format("embedded-opentype"), url("fonts/helveticaneuecyr-light.woff2") format("woff2"), url("fonts/helveticaneuecyr-light.woff") format("woff"), url("fonts/helveticaneuecyr-light.ttf") format("truetype"); font-weight: normal; font-style: normal; }
h1, h2, h3, h4, h5, h6, strong, b { font-weight: normal; line-height: 1.2; }

a { text-decoration: none; }

h2 { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 24px; color: #333333; }

h3 { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 22px; color: #333333; }

h4 { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 18px; color: #333333; }

h5 { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 15px; line-height: 1.4; }

p { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 14px; line-height: 16px; }

.small { display: block; font-family: "HelveticaNeue Light", Helvetica, sans-serif; font-size: 12px; color: #666666; line-height: 1.2; }

.price { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #333333; display: block; }

hr { width: 100%; border: none; height: 1px; background: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }

.l { *zoom: 1; }
.l:after { content: " "; display: table; clear: both; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.checkbox { position: relative; display: inline-block; text-align: center; font-size: 0; cursor: pointer; }
.checkbox:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.checkbox input { width: 20px; height: 20px; margin-right: 10px; display: inline-block; vertical-align: middle; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.checkbox input:checked + span:after { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; visibility: visible; }
.checkbox input:checked + span:before { background-color: #2196f3; border-color: #2196f3; }
.checkbox span { display: inline-block; vertical-align: middle; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; color: #333333; padding: 1px 0 0; }
.checkbox span:before { position: absolute; top: 50%; left: 0; margin-top: -10px; width: 20px; height: 20px; border: 1px solid #efefef; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; content: ""; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-transition: border 0.3s, background 0.3s; -o-transition: border 0.3s, background 0.3s; -webkit-transition: border 0.3s, background 0.3s; transition: border 0.3s, background 0.3s; }
.checkbox span:after { position: absolute; top: 50%; left: 5px; margin-top: -5px; background: url('../img/icons-sc0921eed61.png') 0 0 no-repeat; width: 10px; height: 9px; content: ""; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; visibility: hidden; -moz-transition: opacity 0.3s, visibility 0.3s; -o-transition: opacity 0.3s, visibility 0.3s; -webkit-transition: opacity 0.3s, visibility 0.3s; transition: opacity 0.3s, visibility 0.3s; }

.range-slider { height: 10px; display: block; margin: 0 10px; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }
.range-slider:before { content: ""; height: 10px; position: absolute; top: 0; right: -10px; bottom: 0; left: -10px; border: 1px solid #efefef; -moz-border-radius: 10px; -webkit-border-radius: 10px; border-radius: 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.range-slider span { width: 20px; height: 20px; border: 5px solid white; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; display: block; position: absolute; top: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; margin: -10px 0 0 -10px; background-color: #2196f3; }
.range-slider span:before { content: ""; position: absolute; top: -5px; right: -5px; bottom: -5px; left: -5px; border: 1px solid #efefef; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.range-slider div { height: 100%; background-color: #2196f3; position: absolute; }

.gallery { width: 340px; overflow: hidden; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; }
.gallery__top { width: 100%; height: 340px; position: relative; margin-bottom: 20px; }
.gallery__slides { height: 100%; }
.gallery__slides .slide { height: 100%; width: 100%; text-align: center; border: 1px solid #efefef; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; font-size: 0; background: white; }
.gallery__slides .slide:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.gallery__slides .slide_mod { background: #2196f3; border: 1px solid #2196f3; }
.gallery__slides .slide img { max-height: 100%; max-width: 100%; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; display: inline-block; vertical-align: middle; }
.gallery__bottom { width: 100%; overflow: hidden; }
.gallery__pager { margin: 0 -10px; }
.gallery__pager .slide { max-width: 40px; height: 40px; text-align: center; font-size: 0; cursor: pointer; float: left; margin: 0 10px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #efefef; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; overflow: hidden; background: white; }
.gallery__pager .slide:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.gallery__pager .slide_mod { background: #2196f3; border: 1px solid #2196f3; }
.gallery__pager .slide.cycle-slide-active { border: 1px solid #2196f3; -moz-border-radius: 2; -webkit-border-radius: 2; border-radius: 2; }
.gallery__pager .slide img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }

.select-n { position: relative; cursor: pointer; width: 100%; text-align: left; background: white; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; border: 1px solid #efefef; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; line-height: 20px; color: #333333; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.select-n i { display: block; width: 20px; height: 20px; }
.select-n img { display: block; max-width: 100%; max-height: 20px; }

.select-n__text { position: relative; display: block; padding: 4px 19px 4px 9px; }
.select-n__text:before { content: ""; position: absolute; top: 50%; right: 9px; margin-top: -1px; width: 0px; height: 0px; border-style: solid; border-width: 3px 3px 0 3px; border-color: black transparent transparent transparent; }

.select-n__list { position: absolute; display: none; top: 100%; left: -1px; right: -1px; z-index: 100; background: white; border: 1px solid #efefef; border-top: none; }
.select-n__list li { padding: 4px 9px; cursor: pointer; }
.select-n__list li:hover { background: #efefef; }

.select { position: relative; cursor: pointer; width: 100%; text-align: left; background: #2196f3; -moz-user-select: -moz-none; -ms-user-select: none; -webkit-user-select: none; user-select: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; line-height: 20px; color: white; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.select.is-active { -moz-border-radius: 2px 2px 0 0; -webkit-border-radius: 2px; border-radius: 2px 2px 0 0; }
.select i { display: block; width: 20px; height: 20px; }
.select img { display: block; max-width: 100%; max-height: 20px; }

.select__text { position: relative; display: block; padding: 4px 31px 4px 9px; }
.select__text:before, .select__text:after { content: ""; position: absolute; }
.select__text:before { top: 50%; right: 9px; margin-top: -1px; width: 0px; height: 0px; border-style: solid; border-width: 3px 3px 0 3px; border-color: white transparent transparent transparent; }
.select__text:after { top: 0; bottom: 0; right: 31px; border-right: 1px solid white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }

.select__list { position: absolute; display: none; top: 100%; left: 0; right: 0; z-index: 100; background: #2196f3; -moz-border-radius: 0 0 2px 2px; -webkit-border-radius: 0; border-radius: 0 0 2px 2px; overflow: hidden; }
.select__list li { padding: 4px 9px; cursor: pointer; }
.select__list li:hover { background: #51adf6; }

.btn { display: inline-block; padding: 7px 23px; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; color: white; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; position: relative; }
.btn:active { top: 1px; }
.btn_blue { background: #2196f3; }
.btn_gray { background: #999999; }

.btn-status, .btn-rating { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; line-height: 20px; color: white; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; display: inline-block; position: relative; }

.btn-status { background: #4caf50; padding: 0 16px; }
.btn-status.is-bad { background: #81c784; padding: 0 10px; }

.btn-rating { background: #fbc02d; padding: 0 12px 0 22px; }
.btn-rating:before { content: ""; position: absolute; top: 50%; left: 6px; background: url('../img/icons-sc0921eed61.png') 0 -169px no-repeat; width: 12px; height: 11px; margin-top: -6px; }

.btn-com { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; color: white; width: 40px; text-align: center; line-height: 20px; font-size: 11px; display: inline-block; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.btn-com_yes { background: #2196f3; }
.btn-com_no { background: #e53935; }

.table-wrap { overflow-y: auto; -ms-overflow-x: visible; overflow-x: visible; width: 100%; padding: 0; }
.table-wrap__in { overflow: visible; }

.table { display: table; width: 100%; min-width: 880px; margin-bottom: 20px; text-align: left; }
.table__row { display: table-row; }
.table__col { display: table-cell; vertical-align: middle; padding: 9px 0; border-bottom: 1px solid #efefef; }
.table__col h4 { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; letter-spacing: 0.025em; color: #666666; }
.table__col p { display: inline-block; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; line-height: 16px; color: #333333; }
.table__price { min-width: 180px; }
.table__price h3 { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 20px; color: #333333; }
.table__discount { display: block; color: #e53935; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; }
.table__status { min-width: 120px; }
.table__info { min-width: 240px; }
.table__info p { margin-right: 10px; }
.table__delivery { min-width: 180px; }
.table__btns { min-width: 160px; }
.table__btns .select { margin-bottom: 10px; max-width: 160px; }
.table__btns .btn { width: 100%; max-width: 160px; text-align: center; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.form__row { margin: 0 -5px; font-size: 0; }
.form__col { padding: 0 5px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; vertical-align: top; }
.form__col1 { width: 100%; }
.form__col2 { width: 50%; }
@media only screen and (max-width: 480px) { .form__col2 { width: 100%; } }
.form__btn { padding: 10px 0 0; text-align: right; }

.input, .textarea { width: 100%; padding: 7px 8px; border: 1px solid #efefef; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; color: #333333; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.input:-moz-placeholder, .input::-moz-placeholder, .textarea:-moz-placeholder, .textarea::-moz-placeholder { color: #999999; opacity: 1; }
.input::-webkit-input-placeholder, .textarea::-webkit-input-placeholder { color: #999999; }

.textarea { height: 100px; resize: none; }

.submit { display: inline-block; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; color: white; padding: 7px 35px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: #2196f3; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }

.header { *zoom: 1; }
.header:after { content: " "; display: table; clear: both; }

.top { background: white; *zoom: 1; }
.top:after { content: " "; display: table; clear: both; }

.enter { float: right; text-align: right; padding: 12px 0; }
.enter a { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; letter-spacing: 0.025em; color: black; margin-left: 16px; }
.enter a:hover { text-decoration: underline; }

.menu { font-size: 0; }
@media only screen and (max-width: 768px) { .menu { position: absolute; top: 100%; left: 0; background: white; z-index: 300; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0; border-radius: 0 0 5px 5px; display: none; padding: 20px 0 0; } }
@media only screen and (max-width: 768px) { .menu.is-active { display: block; } }
.menu li { display: inline-block; vertical-align: top; margin-right: 22px; padding: 12px 0; }
@media only screen and (max-width: 768px) { .menu li { display: block; padding: 0; margin: 0; } }
.menu li a { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; color: #333333; }
@media only screen and (max-width: 768px) { .menu li a { padding: 10px 20px 10px 10px; display: block; } }
.menu li a:hover { text-decoration: underline; }

.btn-menu { width: 25px; height: 20px; border-top: 4px solid #333333; border-bottom: 4px solid #333333; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; font-size: 0; background: none; margin: 10px 0 0; display: none; }
.btn-menu:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 768px) { .btn-menu { display: inline-block; } }
.btn-menu:before { display: inline-block; vertical-align: middle; width: 100%; height: 4px; background: #333333; content: ""; }

.search { *zoom: 1; font-size: 0; background: #2196f3; padding: 10px 0; }
.search:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 768px) { .search { text-align: left; } }
.search__block { overflow: hidden; text-align: right; padding: 20px 0; }
@media only screen and (max-width: 768px) { .search__block { text-align: left; } }
.search label { max-width: 520px; display: inline-block; position: relative; width: 100%; }
@media only screen and (max-width: 768px) { .search label { max-width: 100%; } }
.search__icon { background: url('../img/icons-sc0921eed61.png') 0 -95px no-repeat; width: 18px; height: 18px; position: absolute; top: 50%; left: 9px; margin-top: -9px; }
.search__input { width: 100%; color: white; background: rgba(255, 255, 255, 0.2); -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; font-size: 12px; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; padding: 13px 20px 13px 40px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.basket { float: right; padding: 20px 0 20px 20px; position: relative; }
@media only screen and (max-width: 768px) { .basket { float: none; display: inline-block; vertical-align: top; padding: 20px 20px 0 0; } }
.basket_mod { margin-left: 15px; }
@media only screen and (max-width: 768px) { .basket_mod { margin-left: 0; } }
.basket_mod:before { content: ""; position: absolute; top: 0; bottom: 0; left: 0; width: 1px; background: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10); opacity: 0.1; }
@media only screen and (max-width: 768px) { .basket_mod:before { display: none; } }
.basket a { font-size: 12px; position: relative; display: block; padding: 4px 0 4px 60px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; min-height: 40px; }
.basket span { display: block; }
.basket__title { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; color: #b5ddfd; }
.basket__quantity { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; color: white; }
.basket__icon, .basket__icons { position: absolute; top: 50%; left: 0; margin-top: -20px; width: 40px; height: 40px; }
.basket__icon i, .basket__icons i { border: 1px solid white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.basket__icon i { display: block; width: 100%; height: 100%; }
.basket__icons { text-align: justify; font-size: 0.1; }
.basket__icons:after { content: ""; display: inline-block; width: 100%; }
.basket__icons i { display: inline-block; width: 18px; height: 18px; }

.nav-wrap { background: #1a1b1f; }

.nav { font-size: 0; position: relative; }
.nav li { display: inline-block; vertical-align: top; padding: 10px 0 10px 0; margin: 0 50px 0 0; position: relative; }
@media only screen and (max-width: 1220px) { .nav li { margin: 0 30px 0 0; } }
@media only screen and (max-width: 1024px) { .nav li { display: inline-block; position: relative; text-align: center; margin: 0 auto; width: 33.3%; } }
@media only screen and (max-width: 768px) { .nav li { width: 50%; } }
@media only screen and (max-width: 480px) { .nav li { width: 100%; } }
.nav li:hover .nav__drop { display: block; }
.nav li a { height: 40px; position: relative; width: 40px; display: block; }
@media only screen and (max-width: 1220px) { .nav li a { margin: 0 auto; } }
.nav li a span { font-size: 11px; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; color: white; letter-spacing: 0.025em; }
.nav__icon { width: 40px; height: 40px; border: 1px solid rgba(255, 255, 255, 0.1); -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.nav__drop { position: absolute; top: 100%; background: white; border: 2px solid #1a1b1f; z-index: 200; border-top: none; padding: 10px 15px; width: 200px; font-size: 0; -moz-border-radius: 0 0 5px 5px; -webkit-border-radius: 0; border-radius: 0 0 5px 5px; display: none; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1024px) { .nav__drop { left: 50%; right: 50%; margin: 0 -100px; } }
.nav__drop.is-left { left: 0; }
@media only screen and (max-width: 1024px) { .nav__drop.is-left { left: 50%; } }
.nav__drop.is-right { right: 0; }
@media only screen and (max-width: 1024px) { .nav__drop.is-right { right: 50%; } }
.nav__drop li { margin: 0; display: block; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.nav__drop li a { width: auto; height: auto; }
.nav__drop li a:hover span { text-decoration: none; }
.nav__drop li a span { color: #1a1b1f; text-decoration: underline; }
.nav__drop li .nav__icon { border-color: rgba(26, 27, 31, 0.1); }

.footer { background: #1a1b1f; padding: 20px 0 30px; }
.footer__row { margin: 0 -10px; font-size: 0; }
.footer__box { display: inline-block; vertical-align: top; width: 25%; padding: 0 10px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1024px) { .footer__box { width: 33.3%; } }
@media only screen and (max-width: 768px) { .footer__box { width: 100%; text-align: center; } }
.footer__box h5 { color: white; margin-bottom: 17px; }
.footer__box li a { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; line-height: 25px; color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; display: inline-block; }
.footer__box li a:hover { text-decoration: underline; }

.main { padding: 20px 0 0; *zoom: 1; }
.main:after { content: " "; display: table; clear: both; }
.main__inner { *zoom: 1; }
.main__inner:after { content: " "; display: table; clear: both; }

.slider { position: relative; margin-bottom: 20px; }
.slider__inner { background: black; position: relative; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.slider__pager { position: absolute; bottom: 12px; width: 100%; text-align: center; z-index: 200; height: 8px; }
.slider__pager span { width: 8px; height: 8px; border: 2px solid white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; text-indent: -100000px; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; margin: 0 5px; cursor: pointer; }
.slider__pager span.cycle-pager-active { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; background: white; }
.slider__item { width: 100%; background-repeat: no-repeat; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; height: 300px; text-align: center; font-size: 0; text-align: left; }
.slider__item:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.slider__info { max-width: 520px; display: inline-block; vertical-align: middle; padding: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.slider .small { max-width: 330px; }
.slider h2 { color: white; margin-bottom: 20px; }

.banners { float: right; max-width: 280px; width: 100%; margin: 0 0 0 -280px; }
@media only screen and (max-width: 1024px) { .banners { max-width: 100%; float: none; margin: 0; } }

.banner { width: 100%; overflow: hidden; border: 1px solid #efefef; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; text-align: center; margin-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; max-width: 280px; }
@media only screen and (max-width: 1024px) { .banner { margin: 0 auto 20px; max-width: 460px; } }
.banner__inner { display: block; font-size: 0; padding: 18px 0 0; }
.banner__info { max-width: 260px; padding: 0 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: left; margin-bottom: 25px; }
@media only screen and (max-width: 1024px) { .banner__info { max-width: 100%; } }
.banner h4 { margin-bottom: 20px; }
.banner img { max-width: 100%; }
.banner__btns { text-align: center; padding: 9px 9px 9px; font-size: 0; }
@media only screen and (max-width: 1024px) { .banner__btns { max-width: 260px; margin: 0 auto 10px; } }
.banner__tab { display: inline-block; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; color: #333333; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; padding: 8px 0 6px; text-align: center; width: 50%; display: inline-block; vertical-align: top; }
.banner__tab_black { background: #1a1b1f; color: white; -moz-border-radius: 2px 0 0 2px; -webkit-border-radius: 2px; border-radius: 2px 0 0 2px; }
.banner__tab_white { -moz-border-radius: 0 2px 2px 0; -webkit-border-radius: 0; border-radius: 0 2px 2px 0; }
.banner__tab_white:before { border: 1px solid #efefef; position: absolute; top: 0; right: 0; bottom: 0; left: 0; content: ""; -moz-border-radius: 0 2px 2px 0; -webkit-border-radius: 0; border-radius: 0 2px 2px 0; }
.banner__box { padding: 0 0 10px; }
.banner__box a { display: block; position: relative; padding: 0 20px; font-size: 0; }
.banner__box a span { position: absolute; top: 50%; left: 10px; margin-top: -11px; font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 16px; color: black; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=20); opacity: 0.2; }
.banner__box a img { max-width: 100%; }

.banner_gray { background: #cccccc; border: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.banner_gray .banner__inner { padding: 18px 0 10px; }

.banner_big .banner__info { margin-bottom: 50px; }

.content { float: left; width: 100%; padding: 0 300px 0 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1024px) { .content { text-align: center; padding: 0; float: none; } }

.big-item { *zoom: 1; border: 1px solid #efefef; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; margin-bottom: 20px; }
.big-item:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 1024px) { .big-item { display: inline-block; } }
@media only screen and (max-width: 768px) { .big-item { max-width: 460px; } }
.big-item a { display: block; }
.big-item__text { width: 100%; max-width: 250px; float: left; height: 298px; text-align: center; font-size: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 20px 5px 20px 28px; }
.big-item__text:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 1024px) { .big-item__text { height: auto; max-width: 100%; float: none; } }
.big-item__text div { display: inline-block; vertical-align: middle; width: 100%; text-align: left; }
.big-item__text h4 { margin-bottom: 20px; }
.big-item__img { overflow: hidden; font-size: 0; height: 300px; text-align: center; font-size: 0; text-align: right; }
.big-item__img:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 1024px) { .big-item__img { height: auto; } }
.big-item__img img { max-width: 100%; display: inline-block; vertical-align: middle; }

.row { padding: 18px 0 0; overflow: hidden; }
.row h3 { margin-bottom: 15px; }

.item-wrapper { font-size: 0; margin: 0 -10px; }

.item { display: inline-block; width: 33.3%; padding: 0 10px 20px; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; background: white; }
@media only screen and (max-width: 768px) { .item { width: 100%; max-width: 480px; } }
.item a { display: block; position: relative; border: 1px solid #efefef; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; height: 158px; text-align: center; font-size: 0; }
.item a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.item a:hover .item__info { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.item a img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }
.item__info { padding: 7px 10px 12px; background: rgba(255, 255, 255, 0.9); position: absolute; bottom: 0; left: 0; right: 0; text-align: left; -moz-transition: opacity 0.3s, visibility 0.3s; -o-transition: opacity 0.3s, visibility 0.3s; -webkit-transition: opacity 0.3s, visibility 0.3s; transition: opacity 0.3s, visibility 0.3s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; visibility: hidden; }
.item__info p { color: #2196f3; margin-bottom: 2px; }
.item__info .small { margin-bottom: 11px; }
.item .sticker { position: absolute; top: 9px; right: 9px; }
.item hr { margin-bottom: 10px; }

.sticker { display: inline-block; font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 10px; color: white; text-transform: uppercase; line-height: 40px; width: 40px; text-align: center; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; z-index: 10; }
.sticker.is-red { background-color: #e53935; }
.sticker.is-green { background-color: #4caf50; }
.sticker.is-orange { background-color: #ff9800; }

.box-wrapper { margin: 0 -10px; font-size: 0; padding: 2px 0 0; }

.box { display: inline-block; width: 50%; padding: 0 10px 20px; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 768px) { .box { width: 100%; max-width: 490px; } }
.box a { display: block; position: relative; border: 1px solid #efefef; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; height: 200px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; font-size: 0; text-align: left; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; background-position: center right; background-repeat: no-repeat; overflow: hidden; }
.box a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.box__text { display: inline-block; vertical-align: middle; max-width: 260px; padding: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.box h4 { color: white; margin-bottom: 20px; }
.box.is-lighter a { border: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.box.is-lighter .small { color: #666666; }
.box.is-darker a { border: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.box.is-darker .small { color: #333333; }
.box.is-yellow a { border: none; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.box.is-yellow .small { color: white; }
.box.is-white h4 { color: #333333; }
.box.is-white .small { color: #666666; }

.viewed { background: #efefef; overflow: hidden; padding: 17px 0 0; margin-bottom: 20px; }
@media only screen and (max-width: 1024px) { .viewed { text-align: center; } }
.viewed h3 { margin-bottom: 20px; }
.viewed__row { margin: 0 -10px; font-size: 0; }
.viewed__item { width: 25%; padding: 0 10px 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; display: inline-block; vertical-align: top; }
@media only screen and (max-width: 1024px) { .viewed__item { width: 50%; } }
@media only screen and (max-width: 480px) { .viewed__item { width: 100%; } }
.viewed__item a { display: block; position: relative; background: white; height: 160px; text-align: center; font-size: 0; }
.viewed__item a:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.viewed__item a:hover .item__info { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.viewed__item a img { display: inline-block; vertical-align: middle; max-width: 100%; max-height: 100%; }
.viewed__item .item__info { padding: 7px 10px 12px; background: rgba(255, 255, 255, 0.9); position: absolute; bottom: 0; left: 0; right: 0; text-align: left; -moz-transition: opacity 0.3s, visibility 0.3s; -o-transition: opacity 0.3s, visibility 0.3s; -webkit-transition: opacity 0.3s, visibility 0.3s; transition: opacity 0.3s, visibility 0.3s; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; visibility: hidden; }
.viewed__item .item__info p { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 14px; line-height: 16px; color: #2196f3; margin-bottom: 2px; }
.viewed__item .item__info .small { margin-bottom: 11px; }
.viewed__item .sticker { position: absolute; top: 9px; right: 9px; }
.viewed__item hr { margin-bottom: 10px; }

.category { background: #1a1b1f; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; padding: 0 10px; margin-bottom: 20px; }
.category__title { display: inline-block; width: 100%; max-width: 288px; vertical-align: top; color: white; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 14px; padding: 11px 0 10px; }
@media only screen and (max-width: 1024px) { .category__title { display: block; } }
.category__list { display: inline-block; font-size: 0; }
.category__list li { display: inline-block; padding: 5px 16px 5px 0; }
.category__list li a { font-size: 12px; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; color: white; padding: 8px 13px 6px 10px; display: block; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; }
.category__list li a.is-active { background-color: #2196f3; }

.sidebar { width: 300px; float: left; }
@media only screen and (max-width: 1024px) { .sidebar { float: none; width: 100%; margin-bottom: 20px; } }
.sidebar__inner { width: 100%; max-width: 280px; border: 1px solid #efefef; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px; padding: 5px 10px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1024px) { .sidebar__inner { max-width: 100%; font-size: 0; } }
.sidebar__box { padding-bottom: 20px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 1024px) { .sidebar__box { width: 33.3%; display: inline-block; vertical-align: top; } }
@media only screen and (max-width: 768px) { .sidebar__box { width: 50%; padding-right: 20px; } }
@media only screen and (max-width: 480px) { .sidebar__box { width: 100%; padding-right: 0; } }
.sidebar__box:last-child { padding-bottom: 0; }
.sidebar__title { display: block; font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 14px; color: #333333; margin-bottom: 15px; }
.sidebar__list li { font-size: 0; margin-bottom: 5px; }
.sidebar__range { margin-bottom: 15px; }
.sidebar__range p { font-size: 12px; line-height: 25px; color: #333333; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; margin-bottom: 10px; }
.sidebar__range p strong { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; }

.catalog { overflow: hidden; padding: 0 0 40px; }
@media only screen and (max-width: 768px) { .catalog { text-align: center; } }
.catalog .link { float: right; margin-top: 10px; }
.catalog .slider { margin: 0; }

.link { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; color: #2196f3; text-decoration: underline; }
.link:hover { text-decoration: none; }

.product { *zoom: 1; margin-bottom: 20px; text-align: left; }
.product:after { content: " "; display: table; clear: both; }
.product__left { float: left; margin-right: 20px; }
@media only screen and (max-width: 1220px) { .product__left { margin-bottom: 20px; } }
.product__right { overflow: hidden; }
@media only screen and (max-width: 1220px) { .product__right { clear: both; } }

.i-sticker { font-size: 10px; font-family: "HelveticaNeue Bold", Helvetica, sans-serif; color: white; text-align: center; -moz-border-radius: 20px; -webkit-border-radius: 20px; border-radius: 20px; line-height: 2; display: inline-block; width: 40px; text-transform: uppercase; z-index: 10; }
.i-sticker.is-red { background-color: #e53935; }
.i-sticker.is-green { background-color: #4caf50; }
.i-sticker.is-orange { background-color: #ff9800; }

.info .i-sticker { float: right; margin-top: 4px; }
.info h2 { overflow: hidden; color: #2196f3; }
.info__row { border-bottom: 1px solid #efefef; padding-bottom: 15px; margin-bottom: 19px; font-size: 0; }
.info__row p { font-size: 12px; line-height: 18px; color: #666666; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; }
.info__setting { text-align: center; font-size: 0; text-align: left; padding: 0 20px 0 0; display: inline-block; margin-bottom: 5px; }
.info__setting:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.info__btns { text-align: center; font-size: 0; text-align: left; }
.info__btns:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.info__btns .btn { display: inline-block; vertical-align: middle; margin: 0 20px 5px 0; }
.info__btns .info__select { margin-bottom: 5px; }
.info__select { width: 60px; }
.info__title { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; line-height: 16px; color: #333333; padding-right: 15px; }
.info__select, .info__title { display: inline-block; vertical-align: middle; }
.info__block { display: block; font-size: 0; }
.info__box { display: inline-block; vertical-align: top; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; padding: 0 40px 0 0; }
@media only screen and (max-width: 768px) { .info__box { padding: 0; } }
.info__box_mod { padding: 0 0 0 20px; }
@media only screen and (max-width: 768px) { .info__box_mod { padding: 0; } }
.info__box h4 { font-family: "HelveticaNeue Bold", Helvetica, sans-serif; color: #333333; font-size: 14px; line-height: 1.2; margin-bottom: 11px; }
.info__box p { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; color: #666666; font-size: 11px; line-height: 1.2; }
.info__col { display: inline-block; vertical-align: middle; width: 50%; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; text-align: center; font-size: 0; text-align: left; }
.info__col:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
@media only screen and (max-width: 768px) { .info__col { width: 100%; padding: 10px 0; } }
.info__col_mod { border-left: 1px solid #efefef; padding-left: 20px; }
@media only screen and (max-width: 768px) { .info__col_mod { padding: 10px 0; border-left: none; } }

.rating { text-align: center; font-size: 0; }
.rating:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.rating__title, .rating__number, .rating .stars { display: inline-block; vertical-align: middle; }
.rating__title, .rating__number { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; line-height: 16px; }
.rating__title { color: #333333; padding-right: 15px; }
.rating__number { color: #999999; }
.rating .stars { padding: 0 5px 1px 0; }
.rating .stars a { display: inline-block; position: relative; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50); opacity: 0.5; -moz-transition: opacity 0.3s; -o-transition: opacity 0.3s; -webkit-transition: opacity 0.3s; transition: opacity 0.3s; width: 14px; height: 13px; margin: 0 5px 0 0; }
.rating .stars a:before, .rating .stars a:after { content: ""; position: absolute; top: 0; left: 0; right: 0; bottom: 0; -moz-transition: opacity 0.3s, visibility 0.3s; -o-transition: opacity 0.3s, visibility 0.3s; -webkit-transition: opacity 0.3s, visibility 0.3s; transition: opacity 0.3s, visibility 0.3s; }
.rating .stars a:before { background: url('../img/icons-sc0921eed61.png') 0 -146px no-repeat; width: 14px; height: 13px; visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.rating .stars a:after { background: url('../img/icons-sc0921eed61.png') 0 -123px no-repeat; width: 14px; height: 13px; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.rating .stars a.is-active, .rating .stars a:hover { filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }
.rating .stars a.is-active:before, .rating .stars a:hover:before { visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.rating .stars a.is-active:after, .rating .stars a:hover:after { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.breadcrumbs { font-size: 0; position: relative; text-align: left; }
.breadcrumbs:before { content: ""; position: absolute; bottom: 10px; left: 0; right: 0; border-bottom: 1px solid #efefef; }
.breadcrumbs li { display: inline-block; vertical-align: top; padding-right: 30px; position: relative; margin-bottom: 10px; }
.breadcrumbs li:before { content: ""; position: absolute; bottom: 0; left: 0; right: 0; border-bottom: 1px solid #efefef; }
.breadcrumbs li a { display: block; padding: 0 40px 6px 0; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 14px; color: #333333; position: relative; }
.breadcrumbs li a:before { content: ""; position: absolute; bottom: 0; left: 0; right: 0; border-bottom: 1px solid #2196f3; visibility: hidden; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; -moz-transition: visibility 0.3s, opacity 0.3s; -o-transition: visibility 0.3s, opacity 0.3s; -webkit-transition: visibility 0.3s, opacity 0.3s; transition: visibility 0.3s, opacity 0.3s; }
.breadcrumbs li a.is-active { color: #2196f3; }
.breadcrumbs li a.is-active:before { visibility: visible; filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false); opacity: 1; }

.comments { border-bottom: 1px solid #efefef; margin-bottom: 20px; text-align: left; }
.comments__title { display: block; font-family: "HelveticaNeue Bold", Helvetica, sans-serif; font-size: 14px; color: #333333; margin-bottom: 5px; }

.comment { padding: 20px 0 10px; text-align: left; }
.comment__prof { float: left; width: 40px; margin-right: 20px; }
.comment__prof a { display: block; }
.comment__prof img { width: 100%; }
.comment__info { overflow: hidden; }
.comment__info p { font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; color: #666666; line-height: 1.2; margin-bottom: 15px; }
.comment__bottom { text-align: center; font-size: 0; text-align: right; }
.comment__bottom:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.comment__bottom span { display: inline-block; vertical-align: middle; font-family: "HelveticaNeue Roman", Helvetica, sans-serif; font-size: 12px; color: #333333; }
.comment__bottom a { display: inline-block; vertical-align: middle; margin-left: 10px; }
.comment__bottom span, .comment__bottom a { margin-bottom: 10px; }
.comment__btns { display: inline-block; vertical-align: middle; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -14px; font: 0/0 a; text-shadow: none; color: transparent; height: 50px; background: none; width: 50px; background: #2196f3; -moz-border-radius: 50%; -webkit-border-radius: 50%; border-radius: 50%; }
.slick-prev:focus, .slick-next:focus { outline: none; }
.slick-prev.slick-disabled, .slick-next.slick-disabled { opacity: 0.2; }
.slick-prev:before, .slick-next:before { content: ""; position: absolute; top: 50%; margin-top: -6px; }
.slick-prev:active:before, .slick-next:active:before { margin-top: -5px; }

.slick-prev { left: -15px; }
.slick-prev:before { right: 11px; background: url('../img/icons-sc0921eed61.png') 0 -72px no-repeat; width: 8px; height: 13px; }

.slick-next { right: -15px; }
.slick-next:before { left: 11px; background: url('../img/icons-sc0921eed61.png') 0 -49px no-repeat; width: 8px; height: 13px; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: white; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }
