.header
	+clr

.top
	background: #fff
	+clr
.enter
	float: right
	text-align: right
	padding: 12px 0 
	a
		+reg
		font-size: 12px
		letter-spacing: 0.025em 
		color: #000000
		margin-left: 16px
		&:hover
			text-decoration: underline
.menu
	font-size: 0
	+r3
		position: absolute
		top: 100%
		left: 0
		background: #fff 
		z-index: 300 
		+border-radius(0 0 5px 5px)
		display: none
		padding: 20px 0 0 
	&.is-active
		+r3
			display: block
	li
		display: inline-block
		vertical-align: top
		margin-right: 22px
		padding: 12px 0 
		+r3
			display: block
			padding: 0
			margin: 0
		a
			+reg
			font-size: 12px
			color: #333333
			+r3
				padding: 10px 20px 10px 10px
				display: block
			&:hover
				text-decoration: underline
.btn-menu
	width: 25px
	height: 20px
	border-top: 4px solid #333
	border-bottom: 4px solid #333
	+box
	+vertical
	background: none
	margin: 10px 0 0
	display: none
	+r3
		display: inline-block
	&:before
		display: inline-block
		vertical-align: middle
		width: 100%
		height: 4px
		background: #333
		content: "" 

.baskets
	float: right
	+r3
		float: none
		padding-bottom: 10px
.basket
	display: inline-block
	vertical-align: top
	padding: 0 15px 0 10px
	position: relative
	z-index: 500
	&:hover
		.basket__inner
			background: #fff 
			&:before
				display: block
		.basket__block
			.basket__title
				color: #2196f3
			.basket__quantity
				color: #666
			.basket__icon
				i
					&.is-wishlist
						+s(is-wishlist-blue)
					&.is-basket
						+s(is-basket-blue)
		.w-drop
			display: block
	+r3
		float: none
		display: inline-block
		vertical-align: top
		padding: 10px 20px 0 0 
	&_mod
		padding-right: 0
		z-index: 700 
		+r3
			margin-left: 0
			margin-right: 10px
		&:before
			content: "" 
			position: absolute
			top: 0
			bottom: 0
			left: 0
			width: 1px
			background: #fff
			+opacity(0.1) 
			+r3
				display: none
		.basket__inner
			+border-radius(2px 0 0 0)
			&:before
				+border-radius(0 2px 0 0)
	&__inner
		font-size: 12px
		position: relative 
		display: block
		padding: 14px 0 14px 60px
		+box
		min-height: 40px 
		z-index: 110
		+border-radius(2px 0 2px 2px)
		&:before
			position: absolute
			top: 0
			right: -10px
			bottom: 0
			width: 10px
			content: "" 
			background: #fff
			+border-radius(0 2px 2px 0)
			display: none
	span
		display: block
	&__title
		+bold
		color: #b5ddfd 
	&__quantity
		+reg
		color: #fff
	&__icon
		position: absolute
		top: 50%
		left: 10px
		margin-top: -20px
		width: 40px
		height: 40px
		i
			display: inline-block
			&.is-basket
				+s(is-basket)
			&.is-wishlist
				+s(is-wishlist)
	&__block
		position: relative		
		text-align: left	 
.search
	+clr
	font-size: 0
	background: #2196f3 
	padding: 10px 0 
	+r3
		text-align: left
	&__block
		overflow: hidden
		text-align: right
		padding: 10px 0  
		position: relative
		+r2
			text-align: left
	&__keybox, label, &__block-in
		// max-width: 440px
		display: inline-block
		position: relative
		width: 100%
		+r3
			max-width: 100%
	&__btn
		+s(search__icon)
		position: absolute
		top: 50%
		right: 9px
		margin-top: -9px
		z-index: 5
		cursor: pointer 
	&__input
		width: 100%
		color: #fff
		background: rgba(255, 255, 255, 0.2)
		+border-radius(2px)
		font-size: 12px
		+reg
		padding: 13px 20px 13px 40px 
		+box
	&__wrap
		display: table
		width: 100%
		border-collapse: collapse
	&__inner
		display: table-row
		width: 100%
	&__cell
		display: table-cell
		float: none
		overflow: visible
		text-align: right
		vertical-align: top
		+r3
			display: inline-block
			width: 100%
		&.is-box
			width: 170px
			+box
			+r3
				width: 100%
				max-width: 170px
.w-drop
	position: absolute
	top: 100%
	right: -10px
	width: 430px
	background: #fff
	+border-radius(2px 0 2px 2px) 	
	+box-shadow(0 0 3.8px 1.3px rgba(0, 0, 1, 0.15))
	z-index: 100 
	padding: 5px
	display: none
	+r3
		right: auto
		left: 0px
		+border-radius(0 2px 2px 2px) 	
	+r4
		width: 280px
	&__inner
		+clr
		padding-bottom: 5px
		position: relative
		&:before
			content: "" 
			position: absolute
			bottom: 0
			left: 5px
			right: 5px
			border-bottom: 1px solid #efefef 
	&__item
		width: 130px
		+box
		border: 1px solid #efefef
		+border-radius(2px)
		margin: 5px
		float: left 
		position: relative
		&:hover
			.w-drop__del
				display: block
	&__img
		height: 78px
		position: relative
	&__img-link
		position: absolute
		top: 0
		right: 0
		left: 0
		bottom: 0
		+vertical
		z-index: 5 
		img
			display: inline-block
			vertical-align: middle
			max-width: 100%
			max-height: 100% 
	&__del
		position: absolute
		+s(w-close)
		top: 9px
		right: 9px
		z-index: 15 
		display: none
	&__close
		position: absolute
		top: -1px
		bottom: -1px
		right: -1px
		left: -1px
		background: rgba(229, 57, 53, 0.5) 
		+border-radius(2px)
		z-index: 10 
		&:before
			content: "" 
			position: absolute
			top: 50%
			left: 50%
			margin: -6px 0 0 -6px
			+s(w-close-white)
	&__info
		+clr
		padding: 9px 4px 4px 
		p
			font-size: 12px
			color: #666
			max-width: 260px
			float: left 
			+r4
				width: 100%
				float: none
				margin-bottom: 10px
		.w-drop__btn
			float: right
	&__icon
		+s(is-w-heart)
		display: inline-block
		margin-bottom: 20px
	&__text
		text-align: center
		padding: 30px 0 40px 
		h3
			margin-bottom: 20px
.w-drop__btn
	width: 80px
	padding: 8px 10px 7px
	+box
	+border-radius(15px)
	+reg
	font-size: 11px
	color: #fff
	display: inline-block
	background: #2196f3  
	+clr
	position: relative
	&:before
		content: "" 
		position: absolute
		top: 3px
		left: 0
		width: 24px
		height: 24px
		margin: 0 3px
		background: #fff
		+border-radius(50%)  
		+transition(all 0.250s)
	&.is-active
		&:before
			left: 49px
		span
			&.is-no
				visibility: visible
				+opacity(1)
			&.is-yes
				visibility: hidden
				+opacity(0)
	span
		float: left
		width: 50%
		+box
		padding: 0 0 0 5px 
		+transition(visibility 0.250s, opacity 0.250s)
		&.is-no
			visibility: hidden
			+opacity(0)
		&.is-yes
			visibility: visible
			+opacity(1)
					 
.s-items
	position: absolute
	top: 100%
	left: 0
	right: 10px
	background: #fff
	z-index: 800  
	border: 1px solid #efefef
	+border-radius(0 0 2px 2px)
	max-height: 1030px
	overflow: auto
	display: none
	+box-shadow(0 0 3.8px 1.3px rgba(239, 239, 239, 0.3))
	margin-top: 1px
	+r3
		right: 0
.s-item
	+clr
	padding: 10px 
	border-top: 1px solid #efefef 
	&:first-child
		border-top: none
	&__img
		float: left
		width: 100%
		max-width: 250px
		height: 100%
		+box
		+vertical
		+r1
			float: none
		img
			max-width: 100%
			max-height: 100%
			display: inline-block
			vertical-align: middle
	&__info
		// overflow: hidden
		text-align: left 
		padding-right: 120px
		position: relative
		display: inline-block
		+box
		+r1
			overflow: visible
	&__choose
		position: absolute
		top: 0
		right: 0
		bottom: 0
		width: 120px
		+box
		padding: 10px 0 10px 20px
		+vertical 
		text-align: left
		+r4
			position: static
			padding: 10px 0 10px 
			&:before
				display: none
		button					
			display: inline-block
			vertical-align: middle
			padding: 7px 23px 
			+reg
			font-size: 12px
			color: #fff
			+border-radius(2px)
			position: relative
			background: #4caf50
			&:active
				top: 1px
	.w-item__rating
		border: none
	.w-item__price
		border: none
		
.logo
	float: left
	padding: 17px 0 
	+r3
		float: none
		padding: 17px 0 0 0 
	a
		display: block
		width: 126px
		height: 28px
		+opacity(0.8)
	img
		max-width: 100%

.search__left
	float: left
	padding: 10px 20px 0 35px 
	+r2
		float: none
		clear: both
		padding: 0 
.cat-select
	width: 200px
	+reg
	font-size: 12px
	color: #333 
	position: relative
	display: inline-block
	vertical-align: top
	z-index: 200 
	+user-select(none)
	&.is-active
		.cat-select__text
			+border-radius(2px 2px 0 0)
		.cat-select__list
			display: block
	a
		color: #333 
	&__text
		display: block
		padding: 12px 50px 12px 10px 	
		white-space: nowrap
		overflow: hidden
		-ms-text-overflow: ellipsis
		text-overflow: ellipsis
		background: #fff 
		position: relative
		+border-radius(2px)
		z-index: 10 
		cursor: pointer
		&:before, &:after
			position: absolute
			content: "" 
		&:before
			+arr(6, 3, #333, b)
			top: 50%
			right: 18px
			margin-top: -1px
		&:after
			top: 0
			bottom: 0
			right: 40px
			border-left: 1px solid #eeeeee  
	&__list
		position: absolute
		top: 100%
		left: 0
		right: 0
		background: #FFF 
		border-top: 1px solid #eeeeee 
		+border-radius(0 0 2px 2px)
		+box-shadow(0 0 3.8px 1.3px rgba(0, 0, 1, 0.15))
		z-index: 5 
		display: none
		&.is-active
			display: block
		li
			position: relative
	&__item
		display: block
		padding: 12px 10px 12px 10px 
		position: relative
		cursor: pointer
		// &:before
		// 	position: absolute
		// 	top: 50%
		// 	right: 19px
		// 	margin-top: -3px
		// 	content: "" 
		// 	+arr(3, 6, #333, r)	
		// 	+r3
		// 		+arr(6, 3, #333, b)
		// 		top: 50%
		// 		right: 18px
		// 		margin-top: -1px	
		&:hover, &.is-active
			background: #eee 
	&__drop
		background: #fff 
		position: absolute
		top: 0
		left: 100%
		+clr
		width: 400px
		+border-radius(0 2px 2px 2px)
		+box-shadow(0 0 3.8px 1.3px rgba(0, 0, 1, 0.15))
		display: none
		+r3
			position: static
			width: auto
			+box-shadow(none)
			border-top: 1px solid #eee
			border-bottom: 1px solid #eee
		&.is-active
			display: block
		&:before
			position: absolute
			top: 0
			bottom: 0
			left: 50%
			border-left: 1px solid #eeeeee
			content: "" 
			+r3
				display: none
		ul
			width: 200px
			+box
			float: left
			+r3
				float: none
			li
				padding: 12px 10px 12px 10px 	
				cursor: pointer
				&:hover
					background: #eee 