//checkbox
.checkbox
	position: relative
	display: inline-block
	cursor: pointer
	width: 100%
	padding: 2px 0 2px 30px 
	+box
	+user-select(none)
	input
		width: 20px
		height: 20px
		+opacity(0)
		position: absolute
		top: 0
		left: 0
		&:checked + span
			&:after
				+opacity(1)
				visibility: visible
			&:before
				background-color: #2196F3
				border-color: #2196F3
	span
		+reg
		font-size: 12px
		color: #333 
		padding: 1px 0 0 
		&:before
			position: absolute
			top: 0
			left: 0 
			width: 20px
			height: 20px
			border: 1px solid #efefef
			+border-radius(2px)
			content: "" 
			+box
			+transition(border 0.3s, background 0.3s)
		&:after
			position: absolute
			top: 5px
			left: 5px
			// margin-top: -5px 
			+s(check)
			content: ""
			+opacity(0)
			visibility: hidden
			+transition(opacity 0.3s, visibility 0.3s)

//range slider
.range-slider
	height: 10px
	display: block
	margin: 0 10px 
	+border-radius(10px)
	+box
	position: relative
	&:before
		content: "" 
		height: 10px
		position: absolute
		top: 0
		right: -10px
		bottom: 0
		left: -10px
		border: 1px solid #EFEFEF
		+border-radius(10px) 
		+box
	span
		width: 20px
		height: 20px
		border: 5px solid #ffffff
		+border-radius(50%)
		display: block
		position: absolute
		top: 50% 
		+box
		margin: -10px 0 0 -10px 
		background-color: #2196F3
		&:before
			content: "" 
			position: absolute
			top: -5px
			right: -5px
			bottom: -5px
			left: -5px
			border: 1px solid #EFEFEF
			+border-radius(50%) 
	div
		height: 100%
		background-color: #2196F3
		position: absolute

//Prod. gallery
.gallery
	width: 340px
	overflow: hidden
	+user-select(none)
	&__top
		width: 100%
		height: 340px
		position: relative
		margin-bottom: 20px
	&__slides
		height: 100%
		.slide
			height: 100%
			width: 100%
			text-align: center
			border: 1px solid #efefef
			+border-radius(2px)
			overflow: hidden
			+box
			+vertical
			background: #fff
			&_mod
				background: #2196f3 
				border: 1px solid #2196f3
			img
				max-height: 100% 
				max-width: 100%
				+border-radius(2px)
				display: inline-block
				vertical-align: middle
	&__bottom
		width: 100%
		overflow: hidden
	&__pager
		margin: 0 -10px
		.slide
			max-width: 40px
			height: 40px
			+vertical
			cursor: pointer
			float: left
			margin: 0 10px
			overflow: hidden
			+box
			border: 1px solid #efefef
			+border-radius(2px)
			overflow: hidden
			background: #fff
			&_mod
				background: #2196f3 
				border: 1px solid #2196f3
			&.cycle-slide-active
				border: 1px solid #2196f3
				+border-radius(2)
			img
				display: inline-block
				vertical-align: middle
				max-width: 100%
				max-height: 100% 
		


//select
.select-n
	position: relative
	cursor: pointer
	width: 100%
	text-align: left
	background: #fff 
	+user-select(none)
	+box
	border: 1px solid #efefef
	+reg
	font-size: 12px
	line-height: 20px
	color: #333 
	+border-radius(2px)
	i
		display: block
		width: 20px
		height: 20px
	img
		display: block
		max-width: 100%
		max-height: 20px 
.select-n__text
	position: relative
	display: block
	padding: 4px 19px 4px 9px 
	&:before
		content: "" 
		position: absolute
		top: 50%
		right: 9px
		margin-top: -1px
		+arr(6, 3, #000, b)
.select-n__list
	position: absolute
	display: none
	top: 100%
	left: -1px
	right: -1px
	z-index: 100
	background: #fff
	border: 1px solid #efefef
	border-top: none
	li
		padding: 4px 9px
		cursor: pointer
		&:hover
			background: #efefef
			
.select
	position: relative
	cursor: pointer
	width: 100%
	text-align: left
	background: #2196f3 
	+user-select(none)
	+box
	+reg
	font-size: 12px
	line-height: 20px
	color: #fff 
	+border-radius(2px)
	&.is-active
		+border-radius(2px 2px 0 0)
	i
		display: block
		width: 20px
		height: 20px
	img
		display: block
		max-width: 100%
		max-height: 20px 
	&_big
		.select__text
			padding: 10px 40px 10px 10px
			&:before
				right: 17px
			&:after
				right: 40px
		.select__list
			li
				padding: 10px 10px 10px 10px
.select__text
	position: relative
	display: block
	padding: 5px 31px 5px 9px 
	&:before, &:after
		content: "" 
		position: absolute
	&:before
		top: 50%
		right: 9px
		margin-top: -1px
		+arr(6, 3, #fff, b)
	&:after
		top: 0
		bottom: 0
		right: 31px
		border-right: 1px solid #fff
		+opacity(0.1)
.select__list
	position: absolute
	display: none
	top: 100%
	left: 0
	right: 0
	z-index: 100
	background: #2196f3
	+border-radius(0 0 2px 2px)
	overflow: hidden
	li
		padding: 5px 9px
		cursor: pointer
		&:hover
			background: lighten(#2196f3, 10%)

//btns
.btn
	display: inline-block
	padding: 7px 23px 
	+reg
	font-size: 12px
	color: #fff
	+border-radius(2px)
	position: relative
	&:active
		top: 1px
	&_blue
		background: #2196f3
	&_gray
		background: #999999

.btn-status, .btn-rating
	+reg
	font-size: 12px
	line-height: 20px
	color: #fff
	+border-radius(20px)
	display: inline-block
	position: relative
.btn-status
	background: #4caf50
	padding: 0 16px
	&.is-bad
		background: #81c784
		padding: 0 10px  
.btn-rating
	background: #fbc02d
	padding: 0 12px 0 22px
	&:before
		content: "" 
		position: absolute
		top: 50%
		left: 6px
		+s(star-white)
		margin-top: -6px
	   
.btn-com
	+reg
	color: #fff
	width: 40px
	text-align: center
	line-height: 20px
	font-size: 11px
	display: inline-block
	+border-radius(2px)
	&_yes
		background: #2196f3
	&_no
		background: #e53935 

//table
.table-wrap
	overflow-y: auto 
	-ms-overflow-x: visible
	overflow-x: visible
	width: 100%
	padding: 0
	&__in
		overflow: visible
.table
	display: table
	width: 100%
	min-width: 880px
	margin-bottom: 20px
	text-align: left
	&__row
		display: table-row
	&__col
		display: table-cell
		vertical-align: middle
		padding: 9px 0 
		border-bottom: 1px solid #efefef 
		h4
			+reg
			font-size: 12px
			letter-spacing: 0.025em 
			color: #666 
		p
			display: inline-block
			+reg
			font-size: 12px
			line-height: 16px
			color: #333
	&__price
		min-width: 180px
		h3
			+reg
			font-size: 20px
			color: #333 
	&__discount
		display: block
		color: #e53935
		+reg
		font-size: 12px
	&__status
		min-width: 120px
	&__info
		min-width: 240px
		p
			margin-right: 10px
	&__delivery
		min-width: 180px
	&__btns
		min-width: 160px 
		.select
			margin-bottom: 10px
			max-width: 160px
		.btn
			width: 100%
			max-width: 160px
			text-align: center
			+box


//form
.form
	&__row
		margin: 0 -5px
		font-size: 0
	&__col
		padding: 0 5px 10px
		+box 
		display: inline-block
		vertical-align: top
	&__col1
		width: 100%
	&__col2
		width: 50% 
		+r4
			width: 100%
	&__btn
		padding: 10px 0 0
		text-align: right 
//input, textarea, submit
.input, .textarea
	width: 100%
	padding: 7px 8px
	border: 1px solid #efefef
	+box
	+reg
	font-size: 12px
	color: #333
	+placeholder-color(#999) 
	+border-radius(2px)
.textarea
	height: 100px
	resize: none 

.submit
	display: inline-block
	+reg
	font-size: 12px
	color: #fff
	padding: 7px 35px 
	+box
	background: #2196f3
	+border-radius(2px) 






















































































































































































