//checkbox
.checkbox, .checkbox-lite
	position: relative
	display: inline-block
	cursor: pointer
	width: 100%
	padding: 2px 0 2px 30px 
	+box
	+user-select(none)
	input
		width: 20px
		height: 20px
		+opacity(0)
		position: absolute
		top: 0
		left: 0
		&:checked + span
			&:after
				+opacity(1)
				visibility: visible
			&:before
				background-color: #2196F3
				border-color: #2196F3
	span
		+reg
		font-size: 12px
		color: #333 
		padding: 1px 0 0 
		&:before
			position: absolute
			top: 0
			left: 0 
			width: 20px
			height: 20px
			border: 1px solid #efefef
			+border-radius(2px)
			content: "" 
			+box
			+transition(border 0.3s, background 0.3s)
		&:after
			position: absolute
			top: 5px
			left: 5px
			// margin-top: -5px 
			+s(check)
			content: ""
			+opacity(0)
			visibility: hidden
			+transition(opacity 0.3s, visibility 0.3s)
	&-lite
		span
			&:after
				top: 6px
				+s(check-blue)
		input
			&:checked + span
				&:before
					background: #fff 
	&-mod
		span
			&:after
				top: 6px
				+s(check-blue)
		input
			&:checked + span
				&:before
					background: #fff 
					border-color: #efefef
//radio
.radio
	position: relative
	display: inline-block
	cursor: pointer
	+box
	+user-select(none)
	input
		width: 20px
		height: 20px
		+opacity(0)
		&:checked + span
			&:after
				+opacity(1)
				visibility: visible
	span
		&:before
			position: absolute
			top: 0
			left: 0 
			width: 20px
			height: 20px
			border: 1px solid #efefef
			+border-radius(50%)
			content: "" 
			+box
			+transition(border 0.3s, background 0.3s)
		&:after
			position: absolute
			top: 5px
			left: 5px
			width: 10px
			height: 10px
			+border-radius(50%)
			content: ""
			+opacity(0)
			visibility: hidden
			+transition(opacity 0.3s, visibility 0.3s)
			background: #2196F3 
			

//range slider
.range-slider
	height: 10px
	display: block
	margin: 0 10px 
	+border-radius(10px)
	+box
	position: relative
	&:before
		content: "" 
		height: 10px
		position: absolute
		top: 0
		right: -10px
		bottom: 0
		left: -10px
		border: 1px solid #EFEFEF
		+border-radius(10px) 
		+box
	span
		width: 20px
		height: 20px
		border: 5px solid #ffffff
		+border-radius(50%)
		display: block
		position: absolute
		top: 50% 
		+box
		margin: -10px 0 0 -10px 
		background-color: #2196F3
		&:before
			content: "" 
			position: absolute
			top: -5px
			right: -5px
			bottom: -5px
			left: -5px
			border: 1px solid #EFEFEF
			+border-radius(50%) 
	div
		height: 100%
		background-color: #2196F3
		position: absolute

//Prod. gallery
.gallery
	width: 340px
	overflow: hidden
	+user-select(none)
	&__top
		width: 100%
		height: 340px
		position: relative
		margin-bottom: 20px
	&__slides
		height: 100%
		.slide
			height: 100%
			width: 100%
			text-align: center
			border: 1px solid #efefef
			+border-radius(2px)
			overflow: hidden
			+box
			+vertical
			background: #fff
			&_mod
				background: #2196f3 
				border: 1px solid #2196f3
			img
				max-height: 100% 
				max-width: 100%
				+border-radius(2px)
				display: inline-block
				vertical-align: middle
	&__bottom
		width: 100%
		overflow: hidden
	&__pager
		margin: 0 -10px
		.slide
			max-width: 40px
			height: 40px
			+vertical
			cursor: pointer
			float: left
			margin: 0 10px
			overflow: hidden
			+box
			border: 1px solid #efefef
			+border-radius(2px)
			overflow: hidden
			background: #fff
			&_mod
				background: #2196f3 
				border: 1px solid #2196f3
			&.cycle-slide-active
				border: 1px solid #2196f3
				+border-radius(2)
			img
				display: inline-block
				vertical-align: middle
				max-width: 100%
				max-height: 100% 
		


//select
.select-n
	position: relative
	cursor: pointer
	width: 100%
	text-align: left
	background: #fff 
	+user-select(none)
	+box
	border: 1px solid #efefef
	+reg
	font-size: 12px
	color: #333 
	+border-radius(2px)
	padding: 4px 19px 4px 9px 
	// z-index: 200
	&_mod
		color: #999999 
	&_dark
		color: #333 
	i
		display: block
		width: 20px
		height: 20px
	img
		display: block
		max-width: 100%
		max-height: 20px 
.select-n__text
	display: block
	+box
	overflow: hidden
	line-height: 20px
	&:before
		content: "" 
		position: absolute
		top: 50%
		right: 9px
		margin-top: -1px
		+arr(6, 3, #000, b)
.select-n__list
	position: absolute
	display: none
	top: 100%
	left: -1px
	right: -1px
	z-index: 100
	background: #fff
	border: 1px solid #efefef
	border-top: none
	li
		padding: 4px 9px
		cursor: pointer
		&:hover
			background: #efefef
			
.select
	position: relative
	cursor: pointer
	width: 100%
	text-align: left
	background: #2196f3 
	+user-select(none)
	+box
	+reg
	font-size: 12px
	color: #fff 
	+border-radius(2px)
	padding: 5px 31px 5px 9px 
	z-index: 200
	&.is-active
		+border-radius(2px 2px 0 0)
	i
		display: block
		width: 20px
		height: 20px
	img
		display: block
		max-width: 100%
		max-height: 20px 
	&_big
		.select__text
			padding: 10px 40px 10px 10px
			&:before
				right: 17px
			&:after
				right: 40px
		.select__list
			li
				padding: 10px 10px 10px 10px
.select__text
	display: block
	overflow: hidden
	line-height: 20px
	&:before, &:after
		content: "" 
		position: absolute
	&:before
		top: 50%
		right: 12px
		margin-top: -1px
		+arr(6, 3, #fff, b)
	&:after
		top: 0
		bottom: 0
		right: 31px
		border-right: 1px solid #fff
		+opacity(0.1)
.select__list
	position: absolute
	display: none
	top: 100%
	left: 0
	right: 0
	z-index: 100
	background: #2196f3
	+border-radius(0 0 2px 2px)
	overflow: hidden
	li
		padding: 5px 9px
		cursor: pointer
		&:hover
			background: lighten(#2196f3, 10%)

.select-btns
	position: relative
	cursor: pointer
	width: 100%
	text-align: left
	background: #2196f3 
	+user-select(none)
	+box
	+border-radius(2px)
	z-index: 200
	&.is-active
		+border-radius(2px 2px 0 0)
	button, a
		padding: 10px 10px 10px 10px
		width: 100%
		+box
		display: block
		text-align: left 
		+reg
		font-size: 12px
		line-height: 20px
		color: #fff
		background: none 
		overflow: hidden
		-ms-text-overflow: ellipsis
		text-overflow: ellipsis
		height: 30px
		white-space: nowrap
		&:active
			background: darken(#2196f3, 10%) 
.select-btns__btn
	position: absolute
	top: 0
	bottom: 0
	right: 0
	width: 40px
	&:before, &:after
		content: "" 
		position: absolute
	&:before
		border-right: 1px solid #fff 
		top: 0
		bottom: 0
		left: 0
		+opacity(0.1)
	&:after
		top: 50%
		right: 17px
		margin-top: -1px
		+arr(6, 3, #fff, b)
.select-btns__text
	display: block
	+border-radius(2px 0 0 2px)
	padding: 0 40px 0 0 
	overflow: hidden
.select-btns__list
	position: absolute
	display: none
	top: 100%
	left: 0
	right: 0
	z-index: 100
	background: #2196f3
	+border-radius(0 0 2px 2px)
	overflow: hidden
	li
		cursor: pointer
		&:hover
			background: lighten(#2196f3, 10%)

.select-btns_mod
	button, a
		padding: 5px 10px
	.select-btns__text
		padding-right: 30px
	.select-btns__btn
		width: 30px
		&:after
			right: 12px
		&:before
			right: 31px
//btns
.btn
	display: inline-block
	padding: 7px 23px 
	+reg
	font-size: 12px
	color: #fff
	+border-radius(2px)
	position: relative
	&:active
		top: 1px
	&_blue
		background: #2196f3
	&_gray
		background: #999999
	&_green
		background: #4caf50 

.btn-status, .btn-rating
	+reg
	font-size: 12px
	line-height: 20px
	color: #fff
	+border-radius(20px)
	display: inline-block
	position: relative
.btn-status
	background: #4caf50
	padding: 0 16px
	&.is-bad
		background: #81c784
		padding: 0 10px  
.btn-rating
	background: #fbc02d
	padding: 0 12px 0 22px
	&:before
		content: "" 
		position: absolute
		top: 50%
		left: 6px
		+s(star-white)
		margin-top: -6px
	   
.btn-com
	+reg
	color: #fff
	width: 40px
	text-align: center
	line-height: 20px
	font-size: 11px
	display: inline-block
	+border-radius(2px)
	&_yes
		background: #2196f3
	&_no
		background: #e53935 

.btn-simple
	display: inline-block
	padding: 7px 15px 
	+reg
	font-size: 12px
	color: #fff
	+border-radius(2px)
	position: relative
	text-align: center 
	+box
	width: 100px
	&:active
		top: 1px
	&_green
		background: #4caf50
	&_red
		background: #e53935
	&_blue
		background: #2196f3
.btn-agree
	display: inline-block
	padding: 7px 10px 
	+reg
	font-size: 12px
	color: #fff
	+border-radius(2px)
	position: relative
	text-align: center 
	+box
	&:active
		top: 1px
	&_gray
		background: #999999
		width: 100px
	&_blue
		background: #2196f3
		width: 160px
		
.btn-share
	display: inline-block
	width: 160px
	padding: 8px 10px 
	+reg
	font-size: 12px
	color: #fff
	+border-radius(2px)
	position: relative
	text-align: center 
	+box
	background: #2196f3 
	&:active
		top: 1px

.btn-date
	width: 130px
	+box
	padding: 8px 30px 7px 0 
	background: #2196f3
	+reg
	font-size: 11px
	color: #fff
	text-align: center
	display: inline-block  
	+border-radius(2px)
	position: relative
	&:before, &:after
		content: "" 
		position: absolute
	&:before
		top: 0
		bottom: 0
		right: 30px
		border-right: 1px solid #fff
		+opacity(0.1) 
	&:after
		+s(refresh)
		top: 50%
		right: 6px
		margin-top: -7px 
	&:active
		top: 1px
		
.btn-like
	width: 40px
	height: 30px
	border: 1px solid #efefef
	+border-radius(2px)
	position: relative
	display: inline-block
	+transition(background 0.3s, border-color 0.3s)
	&:before, &:after
		content: "" 
		position: absolute
		top: 50%
		left: 50%
		margin-top: -7px
		margin-left: -8px
	&:before
		+s(is-heart-gray)
	&:after
		+s(is-heart-white)
		visibility: hidden
		+opacity(0)
		+transition(visibility 0.3s, opacity 0.3s)
	&:hover
		background: #2196f3 
		border-color: #2196f3 
		&:after
			visibility: visible
			+opacity(1)
	&:active
		top: 1px
		
.btn-phone
	position: relative
	padding: 10px 10px 10px 80px 
	height: 50px
	width: 100%
	max-width: 300px
	+box
	+vertical
	border: 1px solid #ff4500
	+border-radius(2px)
	background: #fff 
	display: inline-block
	text-align: left
	&:active
		top: 1px
	&__icon
		position: absolute
		top: 0
		left: 0
		bottom: 0
		border-right: 1px solid #ff4500
		+vertical
		width: 60px
		i
			display: inline-block
			vertical-align: middle
			+s(is-phone-red)
	span
		display: inline-block
		vertical-align: middle
		width: 100%
		+reg
		font-size: 12px
		color: #ff4500 
		

.btn-call
	display: inline-block
	width: 100%
	text-align: center	
	padding: 8px 10px 7px 10px
	+box
	background: #ff4500
	color: #fff
	+border-radius(2px)
	position: relative
	+reg
	font-size: 12px
	line-height: 1.3
	&:active
		top: 1px

.call-btn
	+reg
	font-size: 12px
	line-height: 1
	color: #fff
	padding: 14px 40px
	display: inline-block
	width: 160px
	+box
	+g(#79D66F, #4FBF43)
	+box-shadow(0 2px 0 0 #3c9933) 
	+border-radius(2px)
	position: relative
	cursor: pointer
	&:before
		content: ""
		position: absolute
		top: 50%
		left: 11px
		+s(is-call-btn) 
		margin-top: -9px
	&:active
		+g(#4FBF43, #79D66F)

.btn-yellow
	+box-shadow(0 2px 0 0 #F58702) 
	+g(#FFD34C, #FFC005)
	color: #333333
	display: inline-block
	padding: 7px 15px 
	+reg
	font-size: 12px
	+border-radius(2px)
	position: relative
	text-align: center 
	+box
	width: 100%
	&:active
		+g(#FFC005, #FFD34C)
.basket-btn, .basket-btn-small
	+box-shadow(0 2px 0 0 #F58702) 
	+g(#FFD34C, #FFC005)
	color: #333333
	display: inline-block
	padding: 14px 40px
	+reg
	line-height: 1
	font-size: 12px
	+border-radius(2px)
	position: relative
	text-align: center 
	+box
	width: 160px
	&:before
		content: "" 
		position: absolute
		top: 50%
		left: 10px
		+s(basket-btn)
		margin-top: -8px
	&:active
		+g(#FFC005, #FFD34C)
.basket-btn-small
	width: 40px
	height: 40px
	padding: 0 
	&:before
		content: "" 
		position: absolute
		top: 50%
		left: 50%
		+s(basket-btn)
		margin-top: -8px
		margin-left: -8px
//table
.table-wrap
	overflow-y: auto 
	-ms-overflow-x: visible
	overflow-x: visible
	width: 100%
	padding: 0
	&__in
		overflow: visible
.table
	display: table
	width: 100%
	min-width: 880px
	margin-bottom: 20px
	text-align: left
	&__row
		display: table-row
	&__col
		display: table-cell
		vertical-align: middle
		padding: 9px 0 
		border-bottom: 1px solid #efefef 
		h4
			+reg
			font-size: 12px
			letter-spacing: 0.025em 
			color: #666 
		p
			display: inline-block
			+reg
			font-size: 12px
			line-height: 16px
			color: #333
		.btn-rating
			float: right
			margin: 0 10px 
	&__price
		min-width: 180px
		h3
			+reg
			font-size: 20px
			color: #333 
	&__discount
		display: block
		color: #e53935
		+reg
		font-size: 12px
	&__status
		min-width: 120px
	&__info
		min-width: 240px
		p
			margin-right: 10px
	&__delivery
		min-width: 180px
	&__btns
		min-width: 220px 
		font-size: 0
		.select-btns
			margin-bottom: 10px
			max-width: 160px
		.btn
			width: 100%
			max-width: 160px
			text-align: center
			+box
		.call
			display: inline-block
			vertical-align: top
			margin: 0 20px 0 0 
			&__number
				padding: 5px 0 
				width: 160px
		a
			display: inline-block
			vertical-align: top
	.call
		margin-bottom: 10px
		max-width: 160px
//form
.form
	&__row
		margin: 0 -5px
		font-size: 0
	&__col
		padding: 0 5px 10px
		+box 
		display: inline-block
		vertical-align: top
	&__col1
		width: 100%
	&__col2
		width: 50% 
		+r4
			width: 100%
	&__btn
		padding: 10px 0 0
		text-align: right 
//input, textarea, submit
.input, .textarea
	width: 100%
	padding: 7px 8px
	border: 1px solid #efefef
	+box
	+reg
	font-size: 12px
	color: #333
	+placeholder-color(#999) 
	+border-radius(2px)
.textarea
	height: 100px
	resize: none 

.submit
	display: inline-block
	+reg
	font-size: 12px
	color: #fff
	padding: 7px 35px 
	+box
	background: #2196f3
	+border-radius(2px) 



//table cabinet
.table-cabinet
	width: 100%
	min-width: 880px
	margin-bottom: 20px
	text-align: left
	th
		text-align: left
		font-weight: normal
		border-bottom: 1px solid #efefef 
		padding: 5px 0 
		span
			+reg
			font-size: 12px
			color: #666 
			letter-spacing: 0.025em 
	td
		padding: 20px 0 0
		vertical-align: middle
		font-size: 0
		position: relative
		.checkbox-lite
			width: 20px
			height: 20px
			padding: 0
			display: inline-block
			vertical-align: middle
			margin-right: 10px
		span, .table-link
			color: #333 
			+reg
			font-size: 12px
			line-height: 16px
		.table-link
			color: #2196f3 
	th, td
		&.is-one
			width: 21%
		&.is-two
			width: 19%
		&.is-three
			width: 11%
		&.is-four
			width: 15%
		&.is-five
			width: 10%
		&.is-six
			width: 10%
		&.is-seven
			width: 14%
		&.is-one_mod
			width: 21%
		&.is-two_mod
			width: 19%
		&.is-three_mod
			width: 11%
		&.is-four_mod
			width: 9%
		&.is-five_mod
			width: 10%
		&.is-six_mod
			width: 8%
		&.is-seven_mod
			width: 9%
		&.is-eight_mod
			width: 11%
	.photo__img
		display: inline-block
		vertical-align: middle
		width: 130px
		height: 80px
		+box
		border: 1px solid #efefef
		+border-radius(2px)
		+vertical
		img
			max-width: 100%
			max-height: 100% 
			display: inline-block
			vertical-align: middle
	.select-n
		display: inline-block
		vertical-align: top
		max-width: 220px
		width: 100%
		margin-right: 10px
		span
			+reg
			font-size: 12px
			line-height: 20px
			color: #999
		.select-n__list
			top: auto
			bottom: 100%
			border-bottom: none
			border-top: 1px solid #efefef 
	.btn
		display: inline-block
		width: 50px
		padding: 7px 10px 
		+box
		text-align: center
	.table-strong
		span
			+bold
	.table-result
		background: #f7f7f7 
		td
			padding: 20px 0
			border-bottom: 1px solid #efefef  
		.table-mod
			padding: 0 
	.table-result__left
		max-width: 90%
		padding: 20px 0
		background: #fff
		border-right: 1px solid #efefef   
	.table-new
		min-width: 80px
		.select-n
			max-width: 80px
			margin: 0
			color: #333 
			span
				color: #333 
	.delete
		+s(close)
		position: absolute
		top: 50%
		right: 0
		margin-top: 5px

.spinner
	position: relative
	width: 60px
	display: block
	.ui-spinner
		position: relative
		display: block
		font-size: 0
	.ui-spinner-button
		position: absolute
		right: 0
		width: 30px
		border-left: 1px solid #efefef
		display: block 
		height: 50%
		cursor: pointer
		+box
		span
			display: block
			line-height: 1
			height: 100%
		.ui-icon
			display: block
			+vertical
			&:after
				content: "" 
				display: inline-block
				vertical-align: middle
		&.ui-spinner-up
			top: 0
			.ui-icon
				&:after
					+s(plus)
		&.ui-spinner-down
			bottom: 0
			border-top: 1px solid #efefef 
			.ui-icon
				&:after
					+s(minus)







































































































































































